#background {
    border: 1px solid black;
}
#flex {
    display: flex;
}
.box{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid black;
}
.box1 {
    background-color: green;
}
.box2 {
    background-color: red;
}
.box3 {
    background-color: purple;
}