body {
    background-color: white;
}
#size {
    margin-top: 5px;
    text-align: center;
}
.btn {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: larger;
}
#tang-btn {
    background-color: green;;
}
#giam-btn {
    background-color: red;
}
.container {
    padding-top: 5px;
    width: 70px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}